@font-face {
  font-family: "Corleone";
  src: URL("./assets/fonts/Corleone.TTF") format("truetype");
}

@font-face {
  font-family: "CorleoneDue";
  src: URL("./assets/fonts/CorleoneDue.TTF") format("truetype");
}

@font-face {
  font-family: "Shindler";
  src: URL("./assets/fonts/ShindlerFont_by_Juan_Casco.ttf") format("truetype");
}

@font-face {
  font-family: "DistantGalaxy";
  src: URL("./assets/fonts/SfDistantGalaxy-0l3d.ttf") format("truetype");
}

@font-face {
  font-family: "DistantGalaxyAlt";
  src: URL("./assets/fonts/SfDistantGalaxyAlternate-OE4d.ttf")
    format("truetype");
}

@font-face {
  font-family: "StarJedi";
  src: URL("./assets/fonts/Starjedi\ Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Matrix";
  src: URL("./assets/fonts/matrix.ttf") format("truetype");
}

@font-face {
  font-family: "OCR";
  src: URL("./assets/fonts/OCR\ A\ Std\ Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Chen";
  src: URL("./assets/fonts/Aachen\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Bus";
  src: URL("./assets/fonts/ITC\ Busorama\ Bold.otf") format("truetype");
}

@font-face {
  font-family: "Ben";
  src: URL("./assets/fonts/ITCBenguiatStdBoldCn.OTF") format("truetype");
}

/* @font-face {
  font-family: "EvilDead";
  src: URL("./assets/fonts/EVILDEAD.TTF") format("truetype");
} */

@font-face {
  font-family: "Yasashii";
  src: URL("./assets/fonts/Yasashii\ W01\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "YasashiiR";
  src: URL("./assets/fonts/Yasashii\ W01\ Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SouvenirB";
  src: URL("./assets/fonts/Souvenir-Bold.otf") format("opentype");
}
@font-face {
  font-family: "SouvenirD";
  src: URL("./assets/fonts/Souvenir-Demi.otf") format("opentype");
}
@font-face {
  font-family: "SouvenirM";
  src: URL("./assets/fonts/Souvenir-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Gill";
  src: URL("./assets/fonts/GILLSANS.ttf") format("truetype");
}

#root,
:root {
  background-color: black;
  /* font-family: "Corleone"; */
}

#appHead {
  font-family: "Corleone";
}

.App {
  text-align: center;
}

.watchFooter {
  bottom: 0;
}
